@font-face {
	font-family: 'hk-demo';
	src: url('fonts/hk-demo.eot');
	src: url('fonts/hk-demo.eot#iefix') format('embedded-opentype'), url('fonts/hk-demo.woff') format('woff'), url('fonts/hk-demo.ttf') format('truetype'), url('fonts/hk-demo.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.is-loading {
  background-color: black;
  background-image: url('images/loading.gif');
      width: 120px;
      background-position: center center;
  background-repeat: no-repeat;
    display: block;
}

.is-broken {
  background-image: url('images/broken.png');
  background-color: #be3730;
  width: 120px;
      background-position: center center;
  background-repeat: no-repeat;
    display: block;
}

div {
-webkit-transform: translate3d(0,0,0);
}

.ui-mobile, .ui-mobile .ui-page, .ui-mobile [data-role="page"],
.ui-mobile [data-role="dialog"], .ui-page, .ui-mobile .ui-page-active {
      overflow: hidden;
      -webkit-backface-visibility: hidden;
}

.ui-page {
    -webkit-backface-visibility: hidden; 
}

.is-broken img {
  opacity: 0;
}

.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
overflow: visible;
}

img{
 /*  background: url('images/loading.gif') no-repeat;
   background-color: black;
   background-position: center center;
   background-repeat: no-repeat;*/
    -webkit-transition: opacity 0.4s;
     -moz-transition: opacity 0.4s;
      -ms-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/*.hwrapper {
 background-color: #000;
 }*/
/*
 #single-data{
 white-space: normal !important;
 }
 */
/*
 div.hwrapper { overflow: hidden; width: inherit; }

 */
/*
 .ui-listview .ui-li-static {
 display: flex;
 white-space: normal;
 }
 */

/*
 .ui-listview.noEllipsis li {
 text-overflow: inherit;
 white-space: inherit;
 }
 */

/*

 .ui-li-aside {
 float: right;
 width: 50%;
 text-align: right;
 margin: 1.4em 0px 0px 0px !important;
 position: absolute;
 right: 25px;
 }

 .ui-li-heading, .ui-li-desc {
 width: 90%;
 text-overflow: ellipsis;
 }

 strong { font-style: bold; }
 */
.ui-page {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

ul li h3 {
	white-space: normal !important;
	white-space: pre !important; /* CSS 2.0 */
	white-space: pre-wrap !important; /* CSS 2.1 */
	white-space: pre-line !important; /* CSS 3.0 */
	white-space: -pre-wrap !important; /* Opera 4-6 */
	white-space: -o-pre-wrap !important; /* Opera 7 */
	white-space: -moz-pre-wrap !important; /* Mozilla */
	white-space: -hp-pre-wrap !important; /* HP Printers */
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.hwrapper .header {
	text-align: center;
	line-height: 55px;
	width: 100%;
	height: 50px;
	background-color: #105389;
	color: #fff;
	text-shadow: 0 0 0 rgba(255,255,255,0);
	position: relative;
}
.hwrapper .header .title {
	font-family: 'Georgia';
}
.hwrapper .header a, .hwrapper .header a:hover, .hwrapper .header a:active {
	color: #fff !important;
	text-decoration: none;
	font-family: 'hk-demo';
	background-color: rgba(0,0,0,0);
	font-size: 17px;
	font-weight: normal;
}
.hwrapper .open a, .hwrapper .open a:hover {
	padding: 7px 15px;
	background-color: #000;
	border-radius: 3px;
}
.hwrapper .header .open {
	color: #fff;
	position: absolute;
}
.hwrapper .header .open.left {
	left: 20px;
	cursor: pointer;
}
.hwrapper .header .open.right {
	right: 20px;
	cursor: pointer;
}
/* Panel */
.hwrapper .panel {
	background: #287240;
	color: #FFFFFF;
}
.hwrapper .panel a {
	color: #FFF !important;
	text-shadow: 0 0 0 rgba(0,0,0,0);
	font-size: 14px;
	padding: 15px 20px 15px 60px;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #475657;
	border-top: 1px solid #95A5A6;
	position: relative;
	font-weight: 400;
}
.hwrapper .panel ul {
	padding: 0;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #95A5A6;
}
.hwrapper .panel .avatar {
	position: absolute;
	top: 8px;
	left: 20px;
}
.hwrapper .ui-panel-inner {
	padding: 0;
}
.hwrapper .panel a:hover {
	background-color: #519065;
}
.hwrapper .panel.right a:before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	/*background-color: #FFFFFF;*/
	font-family: 'hk-demo';
	text-align: center;
	font-size: 18px;
	left: 20px;
}
.hwrapper .panel.left a:before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 15px;
	left: 20px;
	font-family: 'hk-demo';
	text-align: center;
	font-size: 18px;
}
.hwrapper .panel.left .home a:before {
	content: '\e806';
}

.hwrapper .panel.left .authors a:before {
	content: '\e800';
}
.hwrapper .panel.left .aboutus a:before {
	content: '\e813';
}
.hwrapper .panel.left .contact a:before {
	content: '\e804';
}
.hwrapper .panel.left .search a:before {
	content: '\e81a';
}
/*.hwrapper .panel.left .report a:before {
 content: '\f1e0' ;
 }*/

.hwrapper .panel.right .reviews a:before {
	content: '\e849';
}

.hwrapper .panel.right .news a:before {
	content: '\e85C';
}
.hwrapper .panel.right .opinion a:before {
	content: '\e82f';
}
.hwrapper .panel.right .creativity a:before {
	content: '\e844';
}
.hwrapper .panel.right .faculty a:before {
	content: '\e85B';
}

.hwrapper .panel.right .people a:before {
	content: '\e84A';
}

/*
.icon:before {
  display: inline-block;
  font-family: 'Entypo';
  text-decoration: none;
  speak: none;
}

.prev a:before {
  content: "\E800";
}*/
/*.ui-page .ui-content .ui-listview {
 margin-right : 10px;
 margin-left  : 10px;
 }*/
.ui-page .ui-content .ui-filterable {
	margin-right: 10px;
	margin-left: 10px;
}

.wrapper, .wrapper div.iscroll-scroller {
	width: 100% !important;
}
.wrapperb, .wrapperb div.iscroll-scroller {
	width: 100% !important;
}

.cwrapper, .cwrapper div.iscroll-scroller {
	width: 100% !important;
}

.awrapper, .awrapper div.iscroll-scroller {
	width: 100% !important;
}

.swrapper, .swrapper div.iscroll-scroller {
	width: 100% !important;
}
/*
 .pwrapper, .pwrapper div.iscroll-scroller {
 width: 100% !important;

 }
 */

.comment img {
	width: auto;
	height: auto;
}

/*.single, .ui-content {
 margin-left: 5px;
 margin-right: 5px;

 }  */

/*.single {
margin: 0!important;
padding: 0!important;
border: 0!important;
width: 100%;
height: 100%;
overflow-y: auto;
overflow-x: hidden;
 padding: 3 !important;
 }*/

/*
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
   Prevent first frame from flickering when animation starts 
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

*/

#home-page, #single-post-page {
    background: #BFC7D8;
    z-index: 1;
}

img.headerIconSecondRight {
   height: 1.2em;
border: 0px none;
position: absolute;
float: right;
right: 3.315em;
top: 0px;
margin: 7px;
padding: 10px;
}

.button-demo {
    
   height: 1.2em;
border: 0px none;
position: absolute;
float: right;
right: 3.315em;
top: 0px;
margin: -5px;
}


.scrollable{
    overflow: auto;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}
#home-page, #single-post-poage{
    overflow: auto;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}

.single div.iscroll-scroller {
	width: 100% !important;
}
.page div.iscroll-scroller {
	width: 100% !important;
}
.singlewrapper {
	height: auto;
	width: auto;
   
}
.ui-listview {
	margin: 0 !important;
    padding: 15px;
}
.ui-page {
	-webkit-backface-visibility: hidden;
}
.blog, .cat, .authors, .authorpostsblog {
	padding: 0 !important;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
 
/*.wp-caption-text{
    width: 15px;
    white-space:normal;
}
em{
margin: 0!important;
padding: 0!important;
border: 0!important;
width: 100%;
height: 100%;
overflow-y: auto;
overflow-x: hidden;
}*/
.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
 
.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
 
.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
 
.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}
/*
 img {
 display: inline-block !important;
 vertical-align: middle !important;
 max-height: 100% !important;
 max-width: 100% !important;
 }
 */

/*'\f0e0'
 /*

 .hwrapper .footer {
 text-align: center;
 line-height:35px;
 width: 100%;
 height: 35px;
 background-color: #BE4F05;
 color: #fff;
 text-shadow: 0 0 0 rgba(255,255,255,0);

 }
 .hwrapper .footer .title {
 font-family: 'Georgia';
 }
 */

/*CSS - Abhishek*/
#feedForward {
	background: rgb(40, 114, 64);
	color: #fff;
	font-size: 13px;
	text-shadow: none;
}


#feedForward:hover {
	background: #519065;
}
div#popupSearch {
	background: rgb(16, 83, 137);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #ddd;
        z-index: 1000;
}
div#popupSearch .ui-input-search:after {
	margin-left: 3px;
}
/*main page list*/
.ui-listview > li p {
	font-size: 15px;
	font-weight: 400;
	display: block;
	margin: .6em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/*buttons*/
.ui-btn-icon-right:after {
	width: 30px;
	height: 30px;
	border-radius: 40px;
	position: absolute;
	right: 20px;
}
/*comments*/
a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-a.ui-mini.ui-icon-arrow-r, a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-a.ui-mini.ui-icon-arrow-d {
	background: rgb(16, 83, 137);
	color: #fff;
	text-shadow: none;
}
div#popupComment {
	background: rgb(246, 246, 246);
	box-shadow: 2px 2px 5px #ddd;
	border: 2px solid #ddd;
}
div#popupComment .ui-btn {
	background: rgb(16, 83, 137);
	color: #fff;
	text-shadow: none;
	border: none;
}
